/* ROOT */
*{
    /* font-family: 'Handlee', cursive; */
    font-family: 'Superscratchy-4aAD', serif;
    padding: 0;
    margin: 0;
}

/* UTILITIES */
.cool-line {
  
}

/* FRAME */

    /* NAVIGATION BAR */
    #nav-bar {
        font-size: 1.5rem;
        text-align: right;
        font-weight: bolder;
        margin-right: 1vw;
        margin-top: 1rem;
        border: 30px solid;
        padding: 10px;
        border-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F09%2F91%2Fdd%2F0991dd3e9a9f0bd5f4cc1c4df568ba9c.png&f=1&nofb=1') 100 stretch;
    }

    #nav-bar img {
        float: left;
        position: relative;
        width: 3%;
        top: 0;
    }

    #nav-bar li {
        display: inline;
        margin-right: 0.8vw;
        margin-left: 0.8vw;
        cursor: pointer;
    }

    #nav-bar li:hover {
        color: red;
        transition: 1s;
    }

    #nav-bar li:active {
        color: red;
        text-decoration: underline;
    }

    /* CONTENT */
    #content {
        position: relative;
        left: 10rem;
        top: 5rem;
    }

    /* CONTACT BAR */
    #contact-bar {
        border: 20px solid;
        width: 4rem;
        border-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn130.picsart.com%2F255215447003202.png%3Fr1024x1024&f=1&nofb=1') 100 round;
        float: left;
        position:fixed;
        top: 50%;
        left: 1.4rem;
        text-align: center;
    }

    #contact-bar li {
        list-style-type: none;
    }
    #contact-bar img {
        width: 2.5rem;
    }
    
